/* Fonts & Colors */
body{
  background: rgb(245, 245, 245);
  color: rgb(48, 71, 94);
  font-size: 16px;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}
h1{
  font-family: 'Alfa Slab One', cursive;
  color: rgb(240, 84, 84);
  font-size: 40px;
}
h2 {
  font-family: 'PT Sans', sans-serif;
  color: rgb(18, 18, 18);
  font-weight: 700;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: rgb(240, 84, 84);
}
a:hover {
  text-decoration: none;
  color: white;
}
/* Custom Design */
#banner{
  text-align: center;
  background-image: url("./images/direcao.jpeg");
  background-size: cover;
  padding: 60px;
  color: white;
}
#banner h1 {
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px 20px rgb(84, 84, 84);
}
#banner p {
  color: white;
  font-size: 20px;
  opacity: 0.9;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  padding: 40px;
  text-align: center;
}
#footer a {
  color: lightgrey;
  font-size: 20px;
}
#footer a:hover {
  color: white;
}
.btn-danger {
  background-color: rgb(240, 84, 84);
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
